# Cached python files
__pycache__/
*.py[cod]
*$py.class

# Environment and dependency files
venv/
*.env

# Database
db.sqlite3

# Key files
*.key

# Log files
*.log
*.pot
*.pid

# Mac Finder 
*.DS_Store