# Cached python files
__pycache__/
*.py[cod]
*$py.class

# Environment and dependency files
venv/
*.env

# Database
db.sqlite3

# Key files
*.key

# Log files
*.log
*.pot
*.pid

# Eclipse Files
*.DS_Store
*.project
*.pydevproject

# Migrations
**/migrations/*.py

# Don't ignore __init__ files
!**/migrations/__init__.py

# Ignore media folders
media/
pdf/