.app-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  height: 100vh;
}

header {
  margin-left: 10px;
  text-align: center; /* Center the header content */
  margin-bottom: 20px; /* Add space below the header */
}

.header-btns {
  display: grid;
  row-gap: 5px;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.header-btns > img {
  height: 2rem;
  width: auto;
  justify-self: center;
}

.header-btns > button {
  border: 1px solid transparent;
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.header-btns > button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}